@import '../mixin';
@import '../themes';


$c-mobile-version-width: 1023px;

.nav-bar {
  height: 80px;
  width: 100%;
  padding: 0 15px;
  position: relative;
  display: flex;
  align-items: center;

  .toolbar-root {
    min-height: 45px;
    max-height: 45px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bar-title {
    color: white;
    font-weight: 400;
    position: static;
    text-shadow: 0px 1px 1px black;
  }
}

.bar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media screen and (max-width: $c-mobile-version-width) {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: calc(100% + 2px);
    max-width: 200px;
    min-width: 170px;
    right: -200px;
    background: #2e383ee0;
    height: calc(100vh - 100% - 4px);
    z-index: 100;
    transition: all 0.3s ease-in-out;
    opacity: 1;

    &.opened {
      right: 0px;
      }
    }
    &.auth {
      .bar-list-item {
        opacity: 0.5;
        color: white;
        &.active {
          opacity: 1;
          color: white;
        }
      }
    }
  }

.bar-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  padding: 6px 4px;
  min-width: 120px;
  font-size: $c-font-size;





  &:hover {
    color: white;
    text-decoration: none;
    }

  a {
    color: white;
    }

  > svg {
    margin-right: 8px;
    transform: scale(1.1);
    }

  &.active {

    a {
      font-weight: bold;
      text-decoration: none;
      }
    }

  @media screen and (max-width: $c-mobile-version-width) {
    justify-content: flex-start;
    flex-direction: row-reverse;
    > svg {
      min-width: 30px;

      }
    }
  }


.bar-list-control {
  display: none;
  @media screen and (max-width: $c-mobile-version-width) {
    display: block;
    color: white;
    }
  }


