
.radio-group-root {
  display: flex;
  flex-direction: column;

  .help-text {
    border-top: 1px solid #f2f2f2;

    &.error {
      border-top: 1px solid theme-var($--color-error);
      background: theme-var($--color-error-background);
      }
    }
  }

.radio-group-data {
  display: flex;
  justify-content: space-between;
  @include flex-align-items;
  @include flex-directions;

  }
