$c-radio-component-size: 23px;
$c-radio-component-inner: $c-radio-component-size - 6;

.radio-root {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 100%;
  @include no-user-select;
  @include flex-directions;
  @include component-disabled;
  }

.radio-data {
  cursor: pointer;
  @include component-disabled;
}

.radio-tabs {
 flex: 2;
  color: theme-var($--color-primary-font);
}


.radio-label {
  color: theme-var($--color-primary-font);
  font-size: $c-font-input-size;
}


.radio-root {
  &.flex-direction-row {
    .radio-data {
      margin-right: 8px;
    }
  }

  &.flex-direction-row-reverse {

    .radio-data {
      margin-left: 8px;
      }
    }

  &.flex-direction-column-reverse {
    .radio-data {
      margin-top: 6px;
      }
    }

  &.flex-direction-column {
    .radio-data {
      margin-bottom: 6px;
      }
    }
}


.radio-data-outer {
  border: 1px solid transparent;
  width: $c-radio-component-size;
  height: $c-radio-component-size;
  background: theme-var($--color-primary);
  border-radius: calc(#{$c-radio-component-size/2});
  display: flex;
  justify-content: center;
  align-items: center;

  }


.radio-data-inner {
  border: 3px solid white;
  width: $c-radio-component-inner;
  height: $c-radio-component-inner;
  background: transparent;
  transition: background-color 0.4s ease-in;
  border-radius: calc(#{$c-radio-component-inner/2});

  &.not-selected {
    background: white;
    }
  }


