
@import '../mixin';
@import '../themes';

$c-padding-up-down-options: 4px;

.select-root {
  @include no-user-select;
  position: relative;

  &.focused {
    .select-selected {
      box-shadow: 0 0 0 1.3px theme-var($--color-primary);
      outline: none;
    }
  }

  &.small-options {
    .select-choose-section {
      .select-option{
        .select-label {
          font-size: 13px;
        }
      }
    }
  }

  &.lined-version {

    &.mini {
      width: 50%;

      .input-text {
        height: auto;
      }
    }

    .select-option {
      &:hover {
        background: transparent;
      }
    }

    .select-selected {
      background: transparent;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;

      &:focus {
        box-shadow: 0 2px 1px -1px theme-var($--color-primary);
        outline: none;
      }
    }

    &.error {
      .select-selected {
        &:focus {
          box-shadow: 0 2px 1px -1px theme-var($--color-error);
        }
      }
    }
  }


}

.select-choose-section {
  @include box-shadow-open;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 501;
  top: $c-padding-up-down-options*2 + 30px + 50px;
  overflow-y: auto;
  transform: rotateY(0deg);
  //transition: transform 0.5s;
  -webkit-animation: scroll-down .36s;
  -webkit-transform-origin: left top 0;
  animation: scroll-down .36s;
  transform-origin: left top 0;


  .select-data {
    .select-label {
      color: theme-var($--color-blue);
    }
  }

  &.select-show {
    transform: rotateY(0deg);
  }
}

.select-option {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f4f4f4;

  &:last-child {
    border: 0px;
  }

  &.main-selection {
    height: 100%;
  }

  &.hovered {
    @include color-gradient-hover;
    color: theme-var($--color-blue);
    box-shadow: 0 3px 2px -1px #aaa, 0 -2px 1px -1px #ccc;
  }

  &:hover {
    @include color-gradient-hover;
    color: theme-var($--color-blue);
    box-shadow: 0 1px 1px -1px #aaa;

    .select-label {
      color: theme-var($--color-blue);
    }

  }
}

.select-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $c-padding-up-down-options 12px;
  line-height: 1.21;
  height: $c-padding-up-down-options*2 + 30px;
  font-weight: 500;

  .select-label {
    color: theme-var($--color-primary);
  }

}

.select-label {
  color: theme-var($--color-blue);
  font-size: calc(#{$c-font-size});

  &.select-desc {
    font-size: calc(#{$c-font-size} * 1.05);
  }
}

.select-description {
  font-size: calc(#{$c-font-size} * 0.8);
  color: theme-var($--color-primary);
  opacity: 0.8;
}

.select-icon {
  position: absolute;
  padding: 1px 5px;
  left: 0px;
  color: theme-var($--color-primary);

  &.main-icon-arrow {
    left: auto;
    right: 4px;
    transform: scale(1.5);
    color: theme-var($--color-primary);
    opacity: 0.5;
  }

  &.right {
    left: auto;
    right: 4px;
    opacity: 0.7;
    font-size: 12px;
  }
}

.select-selected {
  height: $c-component-height;
  @include component-border-basic;


  .select-placeholder {
    transform: scale(1.1);
    opacity: 0.4;
  }

  &.error {
    .select-placeholder {
      color: theme-var($--color-error)
    }
  }
}
