@import '../mixin';
@import '../themes';


.table-root-ancestor {
  width: 100%;
  }

.tabs-root {
  min-height: 100%;
  @media screen and (max-width: $c-tablet-version-width) {
    min-height: calc(100% - 20px);
    }

  .tabs-content-root {
    min-height: 100%;
    }

  &.warehouse {

    .tab-header-root {
      border: 0.3px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      position: absolute;
      transform: rotate(0deg);
      top: 15px;
      right: 25px;
      display: flex;
      justify-content: flex-end;
      //flex-direction: row-reverse;
      background: white;
      min-height: 30px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      width: auto !important;
      @media screen and (max-width: $c-mobile-version-width) {
        transform: rotate(0deg);
        flex-direction: row;
        left: 0;
        top: -30px;
      }
    }

    .tab-item-root {
      min-width: 90px;
      text-transform: uppercase;
      font-size: 11px;
      text-align: center;
      padding: 4px;
      cursor: pointer;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &.active {
        background-color: white;
        color: white;
        border: 1px solid white;
        box-shadow: -2px 1px 6px -1px black;
        text-shadow: 0px 1px 1px black;
        font-weight: 600;
        @media screen and (max-width: $c-mobile-version-width) {
          box-shadow: 2px 0px 5px -1px black;

        }

      }
      .background-grey{
        background: rgba(241, 241, 241, 0.3);
      }
    }

    .tab-indicator {
      width: 0;
      height: 0;
    }
  }

  &.vertical {
    flex-direction: row !important;
    align-items: start !important;
    width: 100%;

    > .tab-header-root {
      min-width: 200px;
      max-width: 200px;
      border: 1px solid #eee;
      border-radius: 4px;

      > div {
        flex-direction: column !important;
        align-items: start !important;

        > div {
          width: 100%;
        }

        .tab-item-root {
          width: 100%;
          padding: 10px 0px;
          border-bottom: 1px solid #eee;

          &.active {
            background: #f5f5f5;
          }
        }

      }

      .tab-indicator {
        display: none;
      }
    }

    > div {
      flex: 1;
    }



    > .tab-content {
      flex: 2;
      padding: 15px 20px;
    }
  }
}

.tab-header-root {
  display: flex;
  width: 100%;
}

.card-tabs-header {
  max-width: calc(100% - 220px);
  min-height: 50px;
  }


.tab-item-root {
  min-width: 160px;
  overflow: hidden;
  position: relative;
  max-width: 264px;
  box-sizing: border-box;
  min-height: 32px;
  text-align: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  color: white;

  & svg {
    color: theme-var($--color-primary);
    }
  }

.tab-indicator {
  width: 100%;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: theme-var($--color-primary);
  }

.tab-content-item {
  display: none;
  height: calc(100% - 50px);

  &.active {
    display: flex;
    flex: 1;
    height: calc(100% - 50px);
  }
}

.tab-content {
  height: 100%;
  overflow: hidden;
  }

.card-tab-item-root {
  min-width: 120px;
  position: relative;
  max-width: 160px;
  box-sizing: border-box;
  min-height: 40px;
  text-align: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  color: white;
  margin-right: 10px;
  border-radius: 3px;

  &.active {
    // background-color: rgba(70, 154, 204, 0.10);
    }

  .remove-tab-icon {
    background-color: white;
    position: absolute;
    top: -5px;
    right: 0px;
    cursor: pointer;
    z-index: 2000;
    font-size: 14px;
    color: theme-var($--color-danger);
    }
  }


