@import '../themes';

.user-view-render {
  min-width: 350px;
  max-width: 350px;
  margin-right: 20px;
}

.user-search-view {
  height: 100% !important;
  max-height: 100%  !important;
}

.user-form-root {
  max-width: 650px;
  margin: 0 !important;
}

.user-info-general-details {
  width: 400px;
  max-width: 400px;
}

.my-profile-change-password-form {
  max-width: 400px;
}


.user-photo-title {
  color: var(--color-primary-font);
  font-size: 12px;
  padding: 0 0 2px 2px;
  margin: 0;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}



.user-image-part-root {
 
  .user-image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: relative;


    .circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid theme-var($--color-primary);
      overflow: hidden;
      width: 130px;
      height: 130px;
      max-width: 130px;
      max-height: 130px;

      .logo-image {
        max-width: 100%;
        max-height: 100%;
      }

    }

    .upload-button {
      position: absolute;
      right: 10px;
      bottom: 0px;
      padding: 7px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      z-index: 50;
      background: var($--color-gray);
      border: 1px solid white;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      > svg {
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7))
      }
    }
  }

}